//reset
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    // 1 rem = 10px - 16 / 10
    font-size: 62.5%;
}

body {  
    font-family: "Tahamo", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #000;
    line-height: 1.7;
    box-sizing: border-box;
    // background-image: linear-gradient(to right,(green)0%, (white)50%,  (orange)100%);
    background-image: linear-gradient(to right, #008000 6%,#ffffffd9 33%, #ffffffd9 65%, #ffa500 96%);
    background-size: cover;
    height: auto;
}