//body
body{
    @include container-main;
    height: 100vh;

}
//header
.header{

    @include container-main;
    background-color: white;
    // width: $container-width;
    // margin: auto;  
    background: url(/assets/imgs/LANDSKAPE-COMPz-header-banner-2.jpg) no-repeat center;  
    background-size: cover;
    height: 45rem;
    border-radius: $box-border-radius;
    box-shadow: rgba(0, 0, 0, 0.527) .5rem .5rem 8rem;
    display: flex;
    // flex-direction: column;
    align-items: center;
    padding-left: 8rem;

    &__banner-title{
        color: white;
        font-size: 2rem;
        line-height: 5rem;
    }
}
// main section
main{
    @include container-main;
    background-color: lightpink;
    width: $container-width;
}
//grid
//footer
// navigation