.svg{
    &__download{
            fill: $svg-fill-primary;
            transition: all .2s;
            border-radius: 0;

        &:hover{
            // fill: white;
            fill: darken($svg-fill-primary, 10%);
            transform: scale(1.1);
            cursor: pointer;
            // box-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 1.0);
            // body > main > div:nth-child(2) > div.video__details > div.video__details--download > div.video__details--download-box.video__details--download-box-1 > svg > use
        }
        // &use{
        //     fill: yellow;
        // }
        &-large{
                height: 4rem;
                width: 4rem;
                // fill: blue;
                // background-color: brown;
                
            }
        &-small{
            height: 4rem;
            width: 4rem;
        }
    }    
}
