// $container-width: 114rem;
$container-width: 95%;
$container-width-medium: 80%;

$box-border-radius : 4px;

//colorz
// $div-backgrd-white-opaque : rgb(248 252 248 / 20%);
// $div-backgrd-white-opaque : blue;
$shadow-black-primary: rgba(0, 0, 0, 0.109);
$svg-fill-primary:#078507;